<div class="container">
    <div>
        <h1>Obtener Usuarios Registrados</h1>
    </div>
    <button (click)="obtenerRegistro()"  >Obtener Registros</button>

    <table class="table" *ngIf="registros && registros.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Run</th>
            <th scope="col">Correo</th>
            <th scope="col">Password</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of registros">
            <td>{{dato._id}}</td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.rut}}</td>
            <td>{{dato.correo}}</td>
            <td>{{dato.password}}</td>
            <td><button (click)="eliminar(dato._id)">Eliminar</button></td>
          </tr>
          
          
        </tbody>
      </table>

</div>


